* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  width: 100%;
  height: 100vh;
  color: white;
  font-family: 'Livvic', sans-serif;
}

.app_container {
  background-color: var(--colorPrimaryMidnightGreen);
}

.container {
  max-width: min(90%, 1100px);
  margin: 0 auto;
}
