@import url('https://fonts.googleapis.com/css2?family=Livvic:wght@600;700&display=swap');
:root {
  /** Primary Colors */
  --colorPrimaryMidnightGreen: #014e56;
  --colorPrimaryCoral: #f67e7e;

  /** Secondary Colors */
  --colorRaptureBlue: #79c8c7;
  --colorPoliceBlue: #2c6269;
  --colorMidnightGreen: #004047;
  --colorSacrementoGreen: #012f34;
  --colorDarkGreen: #002529;

  /** Typography */
  --fontFamily: 'Livvic', sans-serif;
}
